@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
body {
    color: #fff;
    font-size: 16px;
    line-height: 1.42;
    background: #001821;
    font-family: "open Sans", Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    }

a{
   color: inherit;
   text-decoration: none;
}
ul{
    padding: 0px;
    margin: 0px; 
}
ul li{
    list-style: none;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
}
*{
    box-sizing: border-box;
}

.container{
    margin: 0px auto;
    width: 1150px;

}   
.header {
    height: 130px;
    position: relative;
    margin-bottom: 60px;
}
.logo{
    display: block;
    position: absolute;
    top: 22px;
    left: 0px;
}
.menu{
    position:absolute;
    top: 32px;
    left: 165px;
}
.menu__item{
display: inline-block;
vertical-align: middle;
margin-right: 51px;
}
.menu__item--active .menu__link{
    color: #DA0100;
}
.menu__item:last-child{
    margin-right: 0;
}
.menu__link{
    font-size: 14px;
}
.menu__link:hover{
    color: #DA0100
}
.contacts{
   font-style: normal;
   position: absolute;
   top: 21px;
   right: 7px;
   line-height: 1.19;
}
.contacts__phone {
    font-size: 26px;
    margin-bottom: 4px;
    right: 390px
}
.contacts__workhours{
    font-size: 13px;
    text-align: right;
}
.hero{
    width: 520px;
    margin-bottom: 242px;
}
.hero__title{
    font-size: 72px;
    font-weight: bold;
    line-height: 1.35;
    margin-bottom: 26px;
}
.hero__about{
    font-size:18px;
    margin-bottom: 30px;
}
.button{
    background-color: #F5170E;
    border-radius: 35px;
    padding: 19px 41px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    display: inline-block;
}
.button:hover{
    background-color: #DA0100;
}
.tours{
    margin-bottom: 123px;
    margin-left: 0px;
}
.title{
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 51px;
    margin-left: 3px;
}
.tours__item{
    min-height: 450px;
    width: 362px;
    background: #fff;
    border-radius: 5px; 
    display: inline-block;
    margin-right: 23px;
    }
.tours__item:last-child{
    margin-right: 0;
}
.tours__img{
    min-height: 144px;
    margin-bottom: 4px;
}

.tours__name{
    color: #000;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 21px;
}
.tours__info{
    padding: 22px 23px;
    color: #666666;
}

.tours__description{
    vertical-align: middle;
    margin-left: 5px;
    margin-bottom: 19px;
}
.tours__description-block{
    display: inline-block;
    vertical-align: middle;
    width: 126px;
    margin-right: 24px;
}

..tours__description-block:last-child{
    margin-right: 0;
}
.tours__description-img-calendar{
    display: inline-block;
    width: 26px;
    height: 26px;
    margin-right: 10px;
}

.tours__description-img-meal{
    display: inline-block;
    width: 36px;
    height: 26px;
    margin-right: 10px;
}
.tours__description-name{
    display: inline-block;
    vertical-align: top;
}
.tours__about{
    color: #303030;
    font-size: 14px;
    line-height: 1.45;
    margin-bottom:24px;
}
.button.button__tours{
padding: 17px 30px;
background: #fff;
border: 1px solid #F5170E;
border-radius: 35px;
color: #F5170E;
}
.button.button__tours--active{
    background-color: #F5170E;
    color: #fff;
}
.news__item{
    width: 557px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    margin-right: 20px;
}
.news__item:last-child{
    margin-right: 0;
}

.news__img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.news__desc{
    position: absolute;
    left: 0;
    right: 0;
    top: 224px;
    padding: 30px 31px;
    min-height: 140px;
}
.news__desc-date{
    display: block;
    font-size: 14px;
    margin-bottom: 14px;
}
.news__desc-name{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 6px;
}
.news__desc-text{
    font-size: 16px;
    margin-bottom: 15px;
}