.reviews{
    column-count: 2;
    column-gap: 27px;
    margin-bottom: 76px;
    margin-top: 32px;
}
.review{
   display: inline-flex;
   flex-direction: column;
   padding: 50px 31px 32px 30px;
   background: #F4F5F5;
}
.reviews__item{
    margin-bottom: 17px;
}
.review__header{
    display: flex;
    align-items: center;
    margin-bottom: 27px;
}
.review__user{
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: #2E77A4;
    margin-bottom: 12px;
}
.review__user::after{
    content: url(../../img/vk-blue\ 1.png);
    height: 30px;
}
.avatar{
    width: 140px;
    height: 140px;
    overflow: hidden;
}
.review__tags{
    display: flex;
    align-items: flex-start;
}
.tag{
    font-size: 13px;
    color: #303030;
    padding: 9px 18px 10px;
    background: #E7E7E7;
    border-radius: 35px;
}
.tag--bg--green{
    background: #B9EAE4 ;
}
.review__title{
    font-size: 30px;
    color: #1A1B1E;
    font-weight: bold;
    margin-bottom: 12px;
}
.review__content-text{
    margin-bottom: 47px;
    line-height: 1.52;
}
.review__date{
    font-size: 14px;
    color: #1A1B1E;
    font-weight: 600;
}
.separator{
    background: url(../../img/separator-bg.png); 
    min-height: 363px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.separator__content{
    max-width: 95%;
    display: inline-flex;
    align-items: center;
}
.separator__content::after{
    content: url(../../img/couple.png);
    margin-left: 50px;
    margin-bottom: -27px;
    
}
.separator__title{
    font-size: 48px;
    font-weight: bold;
    color: #fff;
    display: flex;
}
.form__controls{
    display: flex;
    margin-bottom: 17px;
}
.controls{
    flex: 1;
    display: flex;
    flex-wrap: wrap;
}
.controls__item{
    margin-bottom: 10px;
    margin-right: 12px;
}

.form__row{
    display: flex;
    margin-bottom: 26px;
}
.form__controls-title{
    width: 40%;
    font-size: 18px;
}
.form__input{
    flex: 1;
    margin-right: 28px;
    border-radius: 5px;
    border: none;
    background: #fff;
    padding: 20px 30px;
    font-size: 18px;
    color: #1A1B1E;
}
.form__input:last-child{
    margin-right: 0;
}
.form__input::placeholder{
    color: #666666;
}
.form__input--textarea{
    min-height: 240px;
    padding-top: 29px;
}
.controls__element{
    cursor: pointer;
}
.controls__checkbox:checked ~ .controls__tag{
    background: #B9EAE4;
}
.controls__checkbox{
    display: none;
}
.form__buttons{
    display: flex;
    justify-content: flex-end;
}
.form--button{
    margin-right: 17px;
}
.form--button:last-child{
    margin-right: 0;
}